@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Ciudad Tatto</h1>
    <p class="lead">Te conecta con tu diseño</p>
    <p><a href="https://ciudadtatto.com" class="btn btn-primary btn-lg">Conocer más &raquo;</a></p>
</div>



<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Calificar","Index", "Calificaciones")</h2>
        <p>
            Separe su cita para después de cuarentena y obtenga 20% descuento.

        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Diseños</h2>
        <p>¡Contáctenos! Para tatuarse a un precio increíble cuando todo esto termine. ¡Entérate! Los Mejores Tatuadores.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Seguridad</h2>
        <p> Consulta Gratuita. Parámetros Bioseguridad. Servicios: Tatuajes, Piercing, Diseño</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>